#Columna_Izq{
    background-color:#999;
    float:left;
    border: black 2px solid;
    padding:2%;
    padding-bottom: 3%;
    margin-right : 2%;
    width:30%;
}

#Columna_Izq_1{
    background-color:#999;
    float:left;
    padding-bottom: 3%;
    width:11%;
}

#Columna_Izq_2{
    background-color:#999;
    float:left;
    margin-left:40%;
    padding-bottom: 3%;
    width:11%;
}

ul > li {
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 .75rem;
  }
  
  a{
  text-decoration: none
  }

  #fuente{
    font-family: "arial";
    font-size: small;
  }

  .card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.2),  0 2px 4px -1px rgba(0,0,0,0.06);
    text-align: center;
}

.card .img-container{
  overflow: hidden;
  height: 250px;
  position: relative;
  border-radius: 15px;
}

.card:hover .img-container img{
  transform: scale(1.2);
}
.card .img-container .promo{
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
  background: yellow;
  padding: 15px;
  color: black;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.card .info-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.card .info-container h3{
  margin: 0;
}
.card .info-container h3,
.card .info-container strong,
.card .info-container span{
  padding: 5px 15px;
  width: 100%;
}
.card .add-cart{
  margin-top: 2px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
}
.card .add-cart:hover{
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.container1{
    background-image: url(img/p1.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode:darken;
}

.card .img-container1{
  overflow: hidden;
  height: 350px;
  position: relative;
  border-radius: 15px;
}

.card:hover .img-container1 img{
  transform: scale(1.2);
}
.card .img-container1 .promo{
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
  background: yellow;
  padding: 15px;
  color: black;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

